main {
    padding: 15px;
}
.photoPerso {
    width: 200px;
    height: 210px;
    margin-right: 50px;
}
.name {
    font-size: 40px;
    line-height: 1.2;
}
.name > span {
    font-size: 30px;
}
.content {
    font-size: 20px;
}